.wdg-grid-resize-handle {
  position: absolute;
  z-index: 10;
  touch-action: none;
}

.wdg-grid-resize-handle[data-edge='east'],
.wdg-grid-resize-handle[data-edge='west'] {
  top: 0;
  bottom: 0;
  width: 12px;
  cursor: ew-resize;
}

.wdg-grid-resize-handle[data-edge='east'] {
  right: 0;
}

.wdg-grid-resize-handle[data-edge='west'] {
  left: 0;
}

.wdg-grid-resize-handle[data-edge='south'],
.wdg-grid-resize-handle[data-edge='north'] {
  left: 0;
  right: 0;
  height: 12px;
  cursor: ns-resize;
}

.wdg-grid-resize-handle[data-edge='south'] {
  bottom: 0;
}

.wdg-grid-resize-handle[data-edge='north'] {
  top: 0;
}
